{% extends "adminapp/partials/base.html" %}
{% load static %}

{% block header %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1><a href="{% url 'adminapp:dashboard' %}">Administration</a></h1>
        </div>
        <div class="col-sm-6 admin-links">
          Logged in as {{ request.user }} | <a href="{% url 'adminapp:logout' %}">Logout »</a>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block dash_container %}
  <div class="container dash-container">
    <div class="row">
      <div class="col-sm-3 col-sm-push-9">
        {% block sidebar %}
          <ul>
            <li><a href="{% url 'adminapp:mailjobs_all' %}">Mail jobs (All)</a></li>
            <li><a href="{% url 'adminapp:mailjobs_active' %}">Mail jobs (Active)</a></li>
          </ul>
        {% endblock sidebar %}
      </div>
      <div class="col-sm-9 col-sm-pull-3">
        {% block content %}
          
        {% endblock content %}
      </div>
    </div>
  </div>
{% endblock dash_container %}

{% block extra_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>

  <script type="text/javascript">
    // Admin notifications socket
    var mailJobsSocket = new WebSocket('ws://' + window.location.host + '/admin/');
    mailJobsSocket.onmessage = function(e) {
        // Received new message from the server
        var message = JSON.parse(e.data);
        console.log('incoming', message);

        switch (message.action) {
        case 'notification':
          // TODO: Implement this
          break;
        case 'notification_read':
          // TODO: Implement this
          break;
        default:
          break; 
        }
      }
    </script>
{% endblock extra_scripts %}