{% extends "adminapp/partials/base_site.html" %}
{% load static %}

{% block content %}
  <div id="mail-jobs">
    <h2>Mail jobs</h2>
    <datatable :columns="columns" :data-store="dataStore" paginate></datatable>
  </div>
{% endblock content %}

{% block extra_scripts %}
  <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vuejs-datatable.js' %}"></script>
  <script type="text/javascript">
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }

      return cookieValue;
    }

    var dataStore = {
      data: function() {
        return {
          data: []
        }
      },
      computed: {
        last_page: function() {
          return 1;
        },

        visible_rows: function() {
          return this.data
        }
      },

      methods: {
        sortBy: function(columnID) {
          return;
        },

        setPage: function(pageNumber, event) {
          this.getRows(function() {
            this.page = pageNumber
          }.bind(this));

          event.target.blur();
        },

        setTable: function(table) {
          this.table;
        },

        setFilterable: function(value) {
          this.filterable = value;
        },

        setPaginate: function(value) {
          this.paginate = value;
        },

        setSortable: function(value) {
          this.sortable = value;
        },

        setData: function(data) {
          this.getRows(function() {
            console.log('hello');
          }.bind(this))
        },

        getRows: function(callback) {
            var r = new XMLHttpRequest();
            r.open("POST", "{% url 'adminapp:mailjobs_rest_get' %}", true);
            r.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
            r.onreadystatechange = function () {
              if (r.readyState != 4 || r.status != 200) return;
              this.data = JSON.parse(r.responseText);

              callback && callback();

              console.log(this.data)
            }.bind(this);

            r.send("test=value");
        }
      }
    };

    var vm = new Vue({
      el: '#mail-jobs',
      data: {
        columns: [
          {label: 'Destination', field: 'fields.destination'},
          {label: 'Status', callback: function(row) { return row.fields.sent ? 'YES' : 'NO'; }},
          {label: 'Created', field: 'fields.created_at'},
        ],
        dataStore: dataStore
      }
    });
  </script>
{% endblock extra_scripts %}