{% extends "adminapp/partials/base_site.html" %}
{% load static %}

{% block content %}
  <div id="mail-jobs">
    <h2>Mail jobs (active)</h2>
    <datatable class="jobs-list" :columns="columns" :data-store="dataStore" sortable></datatable>
  </div>
{% endblock content %}

{% block extra_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/vuejs-datatable.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mailjobs-active.js' %}"></script>
  <script type="text/javascript">
    mailjobs_active('{{ initial_entries|safe }}');
  </script>
{% endblock extra_scripts %}
